<%provide(:title, 'About Us') %>

<h1>About Us</h1>
<p>
  Outrageous Games looks to fulfill a gap in the American Football RPG Simulation market with a game which provides
  incredible strategic depth at an affordable price point. To be honest however this is a way for us to learn some
  web development skills and we'll put something serious here if anyone ever dares to threaten to pay us for our shitty
  game.
</p>
