<%provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  This will link to a help forum soon; what would you need help on now?

  Forgot your password? Tough cookies I haven't made a reset function yet. Maybe send me an email and I'll reset it
  for you manually.
</p>
